.menu {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background: $green;
  color: $white;
  padding: 5vw 8vw;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.4s ease-out;
  overflow-y: auto;
  z-index: 2;

  @media only screen and (max-width: 1023px) {
    width: 92%;
    padding: 12vw 8vw;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease-out;
  }



  .accordion {
    &__tabs {
      border-radius: 4px;
      overflow: hidden;
    }

    &__tab {
      width: 100%;
      color: white;
      overflow: hidden;
      border-bottom: 1px solid $green100;

      input {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }

      &--label {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        padding: 2em 0;

        &::after {
          content: "";
          background-image: url('/src/assets/images/icone-mais.svg');
          width: 26px;
          height: 26px;
        }
      }

      &--content {
        max-height: 0;
        transition: all 0.2s;

        a {
          display: block;
          width: 100%;
          margin-bottom: 28px;
          font-size: 16px;

          &:hover {
            text-decoration: underline;
          }
        }

        a:last-child {
          margin-bottom: 0;
        }
      }

      &--close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 5px;
        cursor: pointer;
      }
    }

    input:checked {
      + .accordion__tab--label {
        &::after {
          background-image: url('/src/assets/images/icone-menos.svg');
          height: 2px;
          width: 22px;
          top: 10px;
          position: relative;
        }
      }
      ~ .accordion__tab--content {
        max-height: 100vh;
        padding: 0 65px 35px 0;
      }
    }
  }
}

#menu-hamburguer:checked ~ .menu, #menu-hamburguer:checked ~ .menu__overlay {
  transform: translateX(0);
  opacity: 1;
}
